/temp_distribution_linux/Elements/CircuitElements/Extras/EventCatcher/nbproject/private/
/temp_distribution_linux/Elements/CircuitElements/Extras/SubVM/build
/temp_distribution_linux/Elements/CircuitElements/Extras/SubVM/dist
/temp_distribution_linux/Elements/CircuitElements/Extras/SubVM/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Extras/Verteiler/build
/temp_distribution_linux/Elements/CircuitElements/Extras/Verteiler/dist
/temp_distribution_linux/Elements/CircuitElements/Extras/Verteiler/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/FlowCharts/Variables/Getter/build
/temp_distribution_linux/Elements/CircuitElements/FlowCharts/Variables/Getter/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/FlowCharts/Variables/Setter/build
/temp_distribution_linux/Elements/CircuitElements/FlowCharts/Variables/Setter/dist
/temp_distribution_linux/Elements/CircuitElements/FlowCharts/Variables/Setter/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Image/JPEG Codec/build
/temp_distribution_linux/Elements/CircuitElements/Image/JPEG Codec/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/build
/temp_distribution_linux/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/dist
/temp_distribution_linux/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/Firmata/build
/temp_distribution_linux/Elements/CircuitElements/Interface/Firmata/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/RS232v2/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/Raspberry_GPIO/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Get_Bytes_at_Port_JV/build
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Get_Bytes_at_Port_JV/dist
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Get_Bytes_at_Port_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/InitSerialCOM/build
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/InitSerialCOM/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Print_SerialPort_JV/build
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Print_SerialPort_JV/dist
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Print_SerialPort_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Read_SerialPort_JV/build
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Read_SerialPort_JV/dist
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/Read_SerialPort_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/SerialPort_Transaction_JV/build
/temp_distribution_linux/Elements/CircuitElements/Interface/SerialCOM_JV/SerialPort_Transaction_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Numerik/Hypot_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Numerik/modulus_JV/build
/temp_distribution_linux/Elements/CircuitElements/Numerik/modulus_JV/dist
/temp_distribution_linux/Elements/CircuitElements/Numerik/modulus_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Sockets/SocketServer/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/Sockets/Socket_GET_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/String/HTML_Constant/build
/temp_distribution_linux/Elements/CircuitElements/String/HTML_Constant/dist
/temp_distribution_linux/Elements/CircuitElements/String/HTML_Constant/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/String/StrFcn_JV/build
/temp_distribution_linux/Elements/CircuitElements/String/StrFcn_JV/dist
/temp_distribution_linux/Elements/CircuitElements/String/StrFcn_JV/nbproject/private
/temp_distribution_linux/Elements/CircuitElements/System_Control/App_Abort_JV/build
/temp_distribution_linux/Elements/CircuitElements/System_Control/App_Abort_JV/dist
/temp_distribution_linux/Elements/CircuitElements/System_Control/App_Abort_JV/nbproject/private
/temp_distribution_linux/Elements/Drivers/MyOpenLab.RS232/build
/temp_distribution_linux/Elements/Drivers/MyOpenLab.RS232/dist
/temp_distribution_linux/Elements/Drivers/MyOpenLab.RS232/nbproject/private
/temp_distribution_linux/Elements/Drivers/modusbus.CompuLab/nbproject/private
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_1_JV/build
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_1_JV/dist
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_1_JV/nbproject/private
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_2_JV/build
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_2_JV/dist
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_2_JV/nbproject/private
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_3_JV/build
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_3_JV/dist
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_3_JV/nbproject/private
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_4_JV/build
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_4_JV/dist
/temp_distribution_linux/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_4_JV/nbproject/private
/distribution/Elements/CircuitElements/Interface/Raspberry_GPIO/build/
/distribution/Elements/CircuitElements/Interface/Raspberry_GPIO/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/EventCatcher/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/SubVM/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/SubVM/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/SubVM/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/Verteiler/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/Verteiler/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Extras/Verteiler/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/FlowCharts/Variables/Getter/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/FlowCharts/Variables/Getter/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/FlowCharts/Variables/Setter/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/FlowCharts/Variables/Setter/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/FlowCharts/Variables/Setter/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Image/JPEG Codec/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Image/JPEG Codec/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Firmata/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Firmata/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/RS232v2/nbproject/private/
/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Raspberry_GPIO/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Raspberry_GPIO/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Interface/Raspberry_GPIO/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Numerik/Hypot_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/Drivers/MyOpenLab.RS232/build/
/temp_distribution_win_lin_mac/Elements/Drivers/MyOpenLab.RS232/dist/
/temp_distribution_win_lin_mac/Elements/Drivers/MyOpenLab.RS232/nbproject/private/
/temp_distribution_win_lin_mac/Elements/Drivers/modusbus.CompuLab/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_1_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_1_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_1_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_2_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_3_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_3_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_3_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_4_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_4_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_4_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_5_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_5_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_5_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_6_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_6_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_6_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_7_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_7_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_7_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_8_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_8_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Automation/Industrial_Buttons_JV/Button_8_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Numerik/modulus_JV/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Numerik/modulus_JV/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Numerik/modulus_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/Indicator_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/Indicator_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/Led_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/Led_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/LigthBulb_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/LigthBulb_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/TrafficLigth_2_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/TrafficLigth_2_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/TrafficLigth_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Boolean/TrafficLigth_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Dekoratoren/Fill_Arc_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Dekoratoren/GIF_Container_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Dekoratoren/Line_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Dekoratoren/Line_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Dekoratoren/Line_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Dekoratoren/UserDef_Triangle_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/OscilloscopeXY2/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/OscilloscopeXY2/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/OscilloscopeXY2/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/Oscilloscope_3_0/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/Oscilloscope_3_0/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/Oscilloscope_3_0/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/TimeGraphX/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/TimeGraphX/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Graph/TimeGraphX/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Analoge Anzeige_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Analoge Anzeige_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Analoge Anzeige_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Anzeige/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Anzeige/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Anzeige/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/BalkenRegler_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/BalkenRegler_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/BalkenRegler_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Battery_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/Battery_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/ColorBar_JV/build/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/ColorBar_JV/dist/
/temp_distribution_win_lin_mac/Elements/FrontElements/2Numerisch/ColorBar_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Sockets/SocketServer/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/Sockets/Socket_GET_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/String/HTML_Constant/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/String/HTML_Constant/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/String/HTML_Constant/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/String/StrFcn_JV/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/String/StrFcn_JV/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/String/StrFcn_JV/nbproject/private/
/temp_distribution_win_lin_mac/Elements/CircuitElements/System_Control/App_Abort_JV/build/
/temp_distribution_win_lin_mac/Elements/CircuitElements/System_Control/App_Abort_JV/dist/
/temp_distribution_win_lin_mac/Elements/CircuitElements/System_Control/App_Abort_JV/nbproject/private/