# Auto detect text files and perform LF normalization
#*        text=auto

*.java   text eol=crlf
*.html   text eol=crlf
*.css    text eol=crlf
*.js     text eol=crlf
*.sql    text eol=crlf
*.q      text eol=crlf

*.sh     text eol=lf
*.cgi    text eol=lf

*.bat    text eol=crlf
*.cmd    text eol=crlf

# Images are explicitly configured as binary, just in case
*.gif binary
*.jpg binary
*.jpeg binary
*.png binary

# Below files don't have extension, so we mention them explicitly
/gradlew           text eol=lf
